.App {
    text-align:left;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: #999;
    color: black;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
}